<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoSleep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoSleep.Properties.Settings>
            <setting name="KeepPowerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepDisplayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JiggleMouseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </NoSleep.Properties.Settings>
    </userSettings>
</configuration>